body {
    font-family: Arial;
    text-align: center;
}

table {
    margin: auto;
}

td {
    padding: 4px;
}

button {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 6px;
}

.taken {
    background: green;
    color: white;
}

.not-taken {
    background: #ddd;
}
